html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* color: white; */
  font-family: sans-serif;
}


#root{
  height: 93%;
}

.global{
  height: 100%;
  display: flex;
}

.maincontainer{
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.messageList{
  flex: 1;
}

.users{
height: 40px;

}

.connecter{
  text-align: center;
}

.déconnecter{
  text-align: center;
}

.contact{
  width: 200px;
  background-color: #BE0E4B;
}

.utilisateur{
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #DE1F30;
}


img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}


.status{
  position: relative;
  width: 15px;
  height: 15px;
  top: -10px;
  left: 30px;
  border-radius: 50%;
  border: 1px black solid;
}

.messageBubble{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #E3515E;
}

.pseudo{
  width: 150px;
  text-align: center;
}


.heure{
  display: flex;
  justify-content: center;
  color:black;
}

.box{
  /* position: fixed; */
  bottom: 0;
  background-color:#BE0E4B;
}

input{
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  height: 30px;
  width: 500px;
  border: 1px #ddd solid;
}

button{
  margin-top: 15px;
  border-radius: 50%;
  margin-left: 15px;
  height: 30px;
  width: 30px;
  background-color: black;
  color: white;
  border: 1px black solid;
}

form{
  width: 600px;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
